body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: sans-serif, Arial, Helvetica;
    color: #333333;
}

h1 {
	font-size: 14pt;
	color: #008000;
}

h2 {
	font-size: 10pt;
	font-weight: bold;
	font-style: italic; 
}

a:link 		{ color: #333344; }
a:visited	{ color: #333344; }
a:hover 	{ color: #333355; }
a:active 	{ color: #333344; }

label {
  display:block;
  margin-bottom:0.1em;
  margin-top:1em;
}

img {
  border-width   : 0px;
  background-color:white;
}

/* Custom */

#pagewrapper {
    width: 100%;
    margin: 0px auto;
    padding: 0;
    border: none;
}
#content {
    padding: 12px 20px;
    clear: both;
}

#content .main {
	float:left;
}

#content .sidebar {
	float:right;
	width:250px;
}

#header {
    background-color: white;
    margin: 0;
    padding: 12px 20px;
    font-size: 9pt;
    text-align: right;
}

#header .logo {
	float:left;
}

#header input {
	width: 100px;
}

#footer {
    clear:both;
    text-align: center;
    color: #999999;
    font-size: 8pt;
    padding: 12px 20px;
}

#footer a:link 		{ color: #999999; }
#footer a:visited	{ color: #999999; }
#footer a:hover 	{ color: #999999; }
#footer a:active 	{ color: #999999; }


.Listing table {
	border-spacing : 0;
}

.Listing td {
	padding: 4px 15px;
}

.Listing tr:nth-child(even) {
	background: #f2f2f2;
}

form { 
  display : inline;
}

hr {
	color: #999999;
	background-color: ##999999;
	height: 1px;
}

textarea { 
  height : 10em;
  width : 25em;
}
select {
  width : 20em;
}
input[type="text"]{
  width : 20em;
}
input[type="file"]{
  width : 20em;
}

