
/**************** Tags ****************/

.Tags {
	font-size: 8pt;
	font-style: italic;
	color: #b4b252;
	display: inline;
	line-height: 170%;
}

.Tag {
	display: inline;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	border: 1px solid #deddb2;
	background: #ebebd1;
	
	padding: 1px 3px 1px 3px;
	margin: 0px 2px;
}

.Tag .Delete {
	font-size: 6pt;
	display: inline;
	padding-left: 0px;
	padding-right: 8px;
}

.Tag .Delete a {
	padding-left: 1px;
	padding-right: 0px;
}

.Tag a {
	padding-left: 4px;
	padding-right: 4px;
	display: inline;
}

.Tag a:link 	{ color: #bdb947; text-decoration: none; }
.Tag a:visited	{ color: #bdb947; text-decoration: none; }
.Tag a:hover 	{ color: #bdb947; text-decoration: none; }
.Tag a:active 	{ color: #bdb947; text-decoration: none; }

.ReleaseTag {
	border: 1px solid #b2cdde;
	background: #d1e1eb;
}

.ReleaseTag a:link 		{ color: #488fbc; }
.ReleaseTag a:visited	{ color: #488fbc; }
.ReleaseTag a:hover 	{ color: #488fbc; }
.ReleaseTag a:active 	{ color: #488fbc; }

.IssuetypeTag {
	border: 1px solid #bcb2de;
	background: #d7d1eb;
}

.IssuetypeTag a:link 	{ color: #6348bc; }
.IssuetypeTag a:visited	{ color: #6348bc; }
.IssuetypeTag a:hover 	{ color: #6348bc; }
.IssuetypeTag a:active 	{ color: #6348bc; }

.RedTag {
	border: 1px solid #deb2b2;
	background: #ebd1d1;
}

.RedTag a:link 		{ color: #bc4848; }
.RedTag a:visited	{ color: #bc4848; }
.RedTag a:hover 	{ color: #bc4848; }
.RedTag a:active 	{ color: #bc4848; }

.GreenTag {
	border: 1px solid #b2deb7;
	background: #d1ebd4;
}

.GreenTag a:link 	{ color: #48bc56; }
.GreenTag a:visited	{ color: #48bc56; }
.GreenTag a:hover 	{ color: #48bc56; }
.GreenTag a:active 	{ color: #48bc56; }

.GreyTag {
	border: 1px solid #c8c8c8;
	background: #dedede;
}

.GreyTag a:link 	{ color: #828282; }
.GreyTag a:visited	{ color: #828282; }
.GreyTag a:hover 	{ color: #828282; }
.GreyTag a:active 	{ color: #828282; }


/**************** Tag Controls ****************/


.TagAddition input[type="text"] {
	width : 100px;
}

.TagAddition .Suggestion {
	display: block;
	margin: 4px;
}

.TagAddition .Suggestion a {
	padding: 0px;
	margin: 5px;
	text-indent: 5px;
	font-size: 8pt;
}

.TagAddition .Suggestion a:link 	{ color: #999999; }
.TagAddition .Suggestion a:visited	{ color: #999999; }
.TagAddition .Suggestion a:hover 	{ color: #608060; }
.TagAddition .Suggestion a:active 	{ color: #999999; }

